{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
    <div class="container" data-aos="fade-up">

      <div class="hero-img about-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'img/icon.jpg' %}" alt="" class="img-fluid">
      </div>

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>Welcome To<br><span>AcroBot</span><br></h2>
        <div>
          <a href="{% url 'chat' %}" class="btn-get-started scrollto">Get Started</a>
          <a href="{% url 'about' %}" class="btn-services scrollto">About</a>
        </div>
      </div>
        
    </div>
  </section><!-- End Hero Section -->
{% endblock content %}